<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <title>about</title>
    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
          integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/main.css}" type="text/css"/>
</head>

<body>
<div th:insert="~{fragments/navbar :: navbar}"></div>
<div class="page-content">
    <h1 class="text-center"> About project </h1>
    <h2>
        This project is a fully Reactive application.
    </h2>
    <h3>Project Stack:</h3>
    <ul>
        <li>Spring Boot</li>
        <li>Spring Webflux</li>
        <li>Spring Security</li>
        <li>PostgreSQL</li>
        <li>Spring Data R2DBC</li>
        <li>Flyway</li>
        <li>Thymeleaf (HTML, CSS)</li>
        <li>Bootstrap</li>
        <li>JavaScript (a little)</li>
    </ul>
    <h3>Testing:</h3>
    <p>
        This project tests API endpoints using a PostgreSQL test Docker container.
    </p>
    <p>
        You can also use the Swagger-UI to test the Rest APIs.
    </p>
    <h3>My contacts:</h3>
    <li>
        <a href="http://linkedin.com/in/dmytro-trotsenko-97a6211a5">LinkedIn</a>
    </li>
    <li>trohae7@gmail.com</li>

</div>
<div th:insert="~{fragments/footer :: footer}"></div>
</body>
</html>