<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>Navbar</title>
</head>
<body>

<div th:fragment="navbar">

  <nav class="navbar navbar-expand-lg navbar-light bg-primary">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="/">Home</a>
        <a class="nav-item nav-link" href="/catalog">Catalog</a>
        <a class="nav-item nav-link" href="/cart">Cart</a>
      </div>

      <div class="navbar-nav" th:if="${#authentication!=null && #strings.contains(#authentication.principal.authorities, 'ADMIN')}">
        <a class="nav-item nav-link" href="/admin">Admin panel</a>
      </div>

    </div>

    <div>
      <p>Hello <span th:remove="tag" sec:authentication="name">Anonimus</span>!</p>
      <form class="form-group" th:action="@{/logout}" method="POST">
        <button type="submit" class="btn btn-outline-light" th:text="${#authentication==null ? 'Sign In' : 'Sign Out'}"></button>
      </form>
    </div>

  </nav>

</div>

</body>
</html>